/*
 * Original Author: Carlos Alvarez on 04-20-2014
 * Modified By: Jun (Brian) Hur, Justin Wang on 12-11-2016
 *
 */
/* ==========================================================================
   Base Styles, Bootstrap Modifications & Fonts Import
   ========================================================================== */
   
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
::-moz-selection {
    background: #f2c2c9;
    color: #a4003a;
    text-shadow: none;
}
::selection {
    background: #16a085;
    color: #a4003a;
    text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
.centered {
  text-align: center
}
.mt {
  margin-top: 80px;
}
.mb {
  margin-bottom: 80px;
}
/* ==========================================================================
   General styles
   ========================================================================== */
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
    color: #4a4a4a;
}
/* ==========================================================================
   Wrap Sections
   ========================================================================== */
#aboutwrap {
  background: url(../img/main_Page.jpg) no-repeat center top;
  margin-top: -70px;
  padding-top: 250px;
  text-align:center;
  background-attachment: relative;
  background-position: center center;
  min-height: 500px;
  width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#searchwrap {
  background: url(../img/main-background.jpg) no-repeat center top;
  margin-top: -70px;
  padding-top: 250px;
  text-align:center;
  background-attachment: relative;
  background-position: center center;
  min-height: 500px;
  width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#headerwrap {
  background: url(../img/main_Page.jpg) no-repeat center top;
  margin-top: -70px;
  padding-top: 250px;
  text-align:center;
  background-attachment: relative;
  background-position: center center;
  min-height: 700px;
  width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#searchwrap h1 {
  color: #ffffff;
  font-size:120px;
  font-weight: bold;
}

#headerwrap h1 {
  color: inherit;
  letter-spacing: 4px;
  font-size: 80px;
  font-weight: bold;
}
#headerwrap h4 {
  font-weight: 400;
  color: inherit;
}
#social {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f2f2f2;
}
#social i {
  font-size: 40px;
  color: #4a4a4a
}
#social i:hover {
  color: #1abc9c
}
#footerwrap {
  padding-top: 70px;
  padding-bottom: 50px;
  background-color: #2f2f2f;
}
#footerwrap p {
  color: #f2f2f2;
  margin-left: 10px;
}
/* Gallery */
.gallery {
  margin-top: 30px;
}
.gallery img:hover {
  opacity: 0.4;
}
.btn-info {
  color: #3d3d3d;
  background-color: inherit;
}
.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}
