<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="static/ico/favicon.ico">

    <title>DukEATS - Better Than DukeHub</title>

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename='css/bootstrap.css')}}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/font-awesome.min.css')}}" rel="stylesheet">
  </head>

  <body>
    <!-- Static navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="about">About</a></li>
            <li><a href="signup">Signup</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

	<div id="aboutwrap">
	</div><! --/aboutwrap -->

	<div class="container">
		<div class="row centered mt mb">
			<div class="col-lg-8 col-lg-offset-2">
				<h2>Welcome to DukEATS</h2>
				<p>Our project, tentatively called DukEats (Duke + Eats) is a website designed to help Duke students eat on campus. West Union’s reopening motivated this project idea; we want to help students understand the many food options available on Duke and filter them based on the student’s tastes. We will also include a ranking system to let students weigh in on which restaurants and items are best. The website’s database will include the menus, locations, hours, ratings, and cuisine types of many eating places on campus. The menu items will have their names, a brief description of the item, their price, and their ratings. The ratings for both the restaurants and menu items will be on a 1-5 scale and will come from user input. User will be allowed to specify the type of cuisine they want to eat, the price range they are willing to pay, and the ratings they want for the food (e.g. rated above 3 stars). We will use this user input to query the database and output a list of restaurants the user can eat at. The user will also receive the option to search for specific dishes at different restaurants. In this case the user can search based on cuisine type, price, rating, and location of the restaurant. The user’s inputs will be prompted by the website interface and the outputs will appear in list format.</p>
			</div>

		</div><! --/row -->
	</div><! --/container -->

  <div id="footerwrap">
    <div class="container">
      <div class="row centered">
        <div class="col-lg-4">
          <p><b>CS 316</b></p>
        </div>

        <div class="col-lg-4">
        <p>Team:</p>
          <p>James Wu</p>
          <p>Daniel Chai</p>
          <p>Justin Wang</p>
          <p>Jun (Brian) Hur</p>
        </div>
        <div class="col-lg-4">
          <p>dukEATS@gmail.com</p>
        </div>
      </div>
    </div>
  </div><! --/footerwrap -->




    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
  </body>
</html>
