<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="static/ico/favicon.ico">
    <title>DukEATS - Better Than DukeHub</title>
    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename='css/bootstrap.css')}}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
    <style>
      #headerwrap {
        min-height: 450px ! important;
      }
    </style>
    <link href="{{url_for('static', filename='css/font-awesome.min.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css">
    <link href="{{url_for('static', filename='css/table.css')}}" rel="stylesheet">

  </head>
  <body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="static/img/logo-dark.png" alt="DukEats">
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
              <form class="navbar-form navbar-right" name="Item_1" action="display" method='Post'>
                 <select name="cuisine" class="selectpicker" data-live-search="true" data-style="dropdown" data-width="auto">
                   <option value="cuisine">Any Cuisine</option>
                   <option value="'Asian'">Asian</option>
                   <option value="'American'">American</option>
                   <option value="'Italian'">Italian</option>
                   <option value="'Indian'">Indian</option>
                   <option value="'Grill'">Grill</option>
                   <option value="'Sandwich'">Sandwich</option>
                   <option value="'Breakfast'">Breakfast</option>
                   <option value="'Dessert'">Dessert</option>
                   <option value="'Salad'">Salad</option>
                   <option value="'Mediterranean'">Mediterranean</option>
                   <option value="'Speciality'">Speciality</option>
                   <option value="'American'">American</option>
                   <option value="'Mexican'">Mexican</option>
                   <option value="'Drink'">Drink</option>
                   <option value="'Soup'">Soup</option>
                   <option value="'Other'">Other</option>
                   <option value="'Spanish'">Spanish</option>
                 </select>
                 <select name="price" class="selectpicker" data-live-search="true" data-style="dropdown" data-width="auto">
                   <option value="0-1000">Any Price Range</option>
                   <option value="0-5"> - $5</option>
                   <option value="5-10">$5 - $10</option>
                   <option value="10-15">$10 - $15</option>
                   <option value="15-1000">$15 - </option>
                 </select>
                 <select name="rating" class="selectpicker" data-live-search="true" data-style="dropdown" data-width="auto">
                   <option value="1">Any Rating</option>
                   <option value="2">2 or better</option>
                   <option value="3">3 or better</option>
                   <option value="4">4 or better</option>
                 </select>
                 <select name="location" class="selectpicker" data-live-search="true" data-style="dropdown" data-width="auto">
                   <option value="location">Any Location</option>
                   <option value="'Bryan Center'">Bryan Center</option>
                   <option value="'West Union'">West Union</option>
                   <option value="'LSRC'">LSRC</option>
                   <option value="'McClendon'">McClendon</option>
                   <option value="'CIEMAS'">CIEMAS</option>
                   <option value="'Central Campus'">Central Campus</option>
                 </select>
              <button class="btn btn-primary btn-md" type="submit">Search</button>
            </form>
    </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </nav>

  <div id="headerwrap">
      <div class="container">
      <div class="row">
      </div><! --/row -->
      </div> <!-- /container -->
  </div><! --/headerwrap -->

<div class="container-table">
     <div class="row centered mt mb">
        <div class="col-lg-8 col-lg-offset-2">
             <div class="tbl-header">
               <table cellpadding="0" cellspacing="0" border="0">
                 <thead>
                   <tr>
                     <th>Name</th>
                     <th>Price</th>
                     <th>Restaurant</th>
                     <th>Location</th>
                     <th>Rating</th>
                     <th>Your Rating</th>
                     <th>Add-Ons</th>
                   </tr>
                 </thead>
               </table>
             </div>
             <div class="tbl-content">
               <table cellpadding="0" cellspacing="0" border="0">
                 <tbody>
                   {% set count = 1 %}
                   {% set star = 'star' %}
                   {% for row in posts %}
                   <tr>
                     <td>{{ row.name }}</td>
                     <td>${{ row.price }}</td>
                     <td>{{ row.restaurant }}</td>
                     <td>{{ row.location }}</td>
                     <td>{{ row.rating }}</td>
                     {% if row.restaurant != "No Result Found" %}
                     <td><div id="{{star}}" class="starrr"></div></td>
                     <td><button type="button" class="btn btn-info" data-toggle="collapse" data-target="#{{count}}">Expand</button></td>
                     {% endif %}
                   </tr>
                   <tr>
                    <td colspan="7" padding="0">
                        <div id="{{count}}" class="collapse">
                          {% if row.addons|length != 0 %}
                            {% for addon_row in row.addons %}
                              {{ (addon_row.addon_name) }}:   ${{ addon_row.addon_price }}<br/>
                            {% endfor %}
                          {% else %}
                              No addons <br/>
                          {% endif %}
                        </div>
                    </td>

                   </tr>
                   {% set count = count + 1 %}
                   {% endfor %}
                 </tbody>
               </table>
            </div>
           </div>
        </div>
    </div>

  <div id="footerwrap">
    <div class="container">
      <div class="row centered">
        <div class="col-lg-4">
          <p><b>CS 316</b></p>
        </div>
        <div class="col-lg-4">
        <p>Team:</p>
          <p>James Wu</p>
          <p>Daniel Chai</p>
          <p>Justin Wang</p>
          <p>Jun (Brian) Hur</p>
        </div>
        <div class="col-lg-4">
          <p>dukEATS@gmail.com</p>
        </div>
      </div>
    </div>
  </div><! --/footerwrap -->

  <!-- Bootstrap core JavaScript
  ================================================== -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>
  <script src="static/js/jquery-3.1.1.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  <script src="static/js/star-rating.js"></script>
  </body>
</html>
