<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="static/ico/favicon.ico">

    <title>DukEATS - Better Than DukeHub</title>

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename='css/bootstrap.css')}}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{url_for('static', filename='css/font-awesome.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
    <style>
      #aboutwrap {
          background-image: url("{{ posts[0].image }}") ! important;
      }
    </style>
  </head>

  <body>
    <!-- Static navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="about">About</a></li>
            <li><a href="/#Search">Begin</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

  {% for row in posts %}
  <div id="aboutwrap">
  </div><! --/aboutwrap -->

  <div class="container">
    <div class="row centered mt mb">
      <div class="col-lg-8 col-lg-offset-2">
             <img src="{{ url_for('static', filename= 'img/portfolio/' + row.name + '.png') }}">
             <br>
             <br>
             <br>
             <h3>Open Time</h3>
             <strong>Weekdays:</strong> {{ row.open_time }}
             <strong> - </strong> {{ row.close_time }}
             <br>
             <strong>Saturday:</strong> {{ row.sat_op_time }}
             <strong> - </strong> {{ row.sat_close_time }}
             <br>
             <strong>Sunday:</strong> {{ row.sun_op_time }}
             <strong> - </strong> {{ row.sun_close_time }}
           <br>
           <br>
           <br>
           <h3>Menus</h3>
           <form name="Item_1" action="display" method='Post'>
             <button class="btn btn-primary btn-lg" type="submit" name="restaurant" value="{{ posts[0].name }}">Click here to find out!</button>
           </form>
           <br>
           <br>
           <br>
           <h3>Photos</h3>
         </div>
         {% if row.name == 'Ginger and Soy' %}
           <div class="col-lg-4 col-md-4 col-sm-4 gallery">
             <img src="static/img/RestaurantPhoto/Ginger and Soy1.jpg" class="img-responsive">
           </div>
           <div class="col-lg-4 col-md-4 col-sm-4 gallery">
             <img src="static/img/RestaurantPhoto/Ginger and Soy2.jpg" class="img-responsive">
           </div>
         {% elif row.name == 'Gyotaku' %}
           <div class="col-lg-4 col-md-4 col-sm-4 gallery">
             <img src="static/img/RestaurantPhoto/Gyotaku1.jpg" class="img-responsive">
           </div>
           <div class="col-lg-4 col-md-4 col-sm-4 gallery">
             <img src="static/img/RestaurantPhoto/Gyotaku2.jpg" class="img-responsive">
           </div>
           <div class="col-lg-4 col-md-4 col-sm-4 gallery">
             <img src="static/img/RestaurantPhoto/Gyotaku3.jpg" class="img-responsive">
           </div>
           <div class="col-lg-4 col-md-4 col-sm-4 gallery">
             <img src="static/img/RestaurantPhoto/Gyotaku4.jpg" class="img-responsive">
           </div>
           <div class="col-lg-4 col-md-4 col-sm-4 gallery">
             <img src="static/img/RestaurantPhoto/Gyotaku5.jpg" class="img-responsive">
           </div>
         {% elif row.name == 'Il Forno' %}
           <div class="col-lg-4 col-md-4 col-sm-4 gallery">
             <img src="static/img/RestaurantPhoto/Il Forno1.jpg" class="img-responsive">
           </div>
           <div class="col-lg-4 col-md-4 col-sm-4 gallery">
             <img src="static/img/RestaurantPhoto/Il Forno2.jpg" class="img-responsive">
           </div>
           <div class="col-lg-4 col-md-4 col-sm-4 gallery">
             <img src="static/img/RestaurantPhoto/Il Forno3.jpg" class="img-responsive">
           </div>
           <div class="col-lg-4 col-md-4 col-sm-4 gallery">
             <img src="static/img/RestaurantPhoto/Il Forno4.jpg" class="img-responsive">
           </div>
           {% elif row.name == 'Tandoor' %}
             <div class="col-lg-4 col-md-4 col-sm-4 gallery">
               <img src="static/img/RestaurantPhoto/Tandoor1.jpg" class="img-responsive">
             </div>
             <div class="col-lg-4 col-md-4 col-sm-4 gallery">
               <img src="static/img/RestaurantPhoto/Tandoor2.jpg" class="img-responsive">
             </div>
             <div class="col-lg-4 col-md-4 col-sm-4 gallery">
               <img src="static/img/RestaurantPhoto/Tandoor3.jpg" class="img-responsive">
             </div>
             {% elif row.name == 'JBs Roast and Chops' %}
               <div class="col-lg-4 col-md-4 col-sm-4 gallery">
                 <img src="static/img/RestaurantPhoto/JBs Roast and Chops1.jpg" class="img-responsive">
               </div>
               {% elif row.name == 'Cafe West Union' %}
                 <div class="col-lg-4 col-md-4 col-sm-4 gallery">
                   <img src="static/img/RestaurantPhoto/Cafe West Union1.jpg" class="img-responsive">
                 </div>
                 <div class="col-lg-4 col-md-4 col-sm-4 gallery">
                   <img src="static/img/RestaurantPhoto/Cafe West Union2.jpg" class="img-responsive">
                 </div>
                 <div class="col-lg-4 col-md-4 col-sm-4 gallery">
                   <img src="static/img/RestaurantPhoto/Cafe West Union3.jpg" class="img-responsive">
                 </div>
           {% else %}
           <br>
           <br>
           <div class="col-lg-8 col-lg-offset-2">
           <h5>No Photos</h5>
          </div>
         {% endif %}
      <br>
      <br>
      <br>
    </div>
  </div>
  {% endfor %}

  <div id="footerwrap">
    <div class="container">
      <div class="row centered">
        <div class="col-lg-4">
          <p><b>CS 316</b></p>
        </div>

        <div class="col-lg-4">
        <p>Team:</p>
          <p>James Wu</p>
          <p>Daniel Chai</p>
          <p>Justin Wang</p>
          <p>Jun (Brian) Hur</p>
        </div>
        <div class="col-lg-4">
          <p>dukEATS@gmail.com</p>
        </div>
      </div>
    </div>
  </div><! --/footerwrap -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/js/bootstrap.min.js"></script>
  </body>
</html>
