<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="static/ico/favicon.ico">

    <title>DukEATS - Better Than DukeHub</title>

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename='css/bootstrap.css')}}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/font-awesome.min.css')}}" rel="stylesheet">

  </head>
  <body>
    <!-- Static navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="about">About</a></li>
            <li><a href="/#Search">Begin</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>


  <div id="aboutwrap">
      <div class="container">
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
        </div>
      </div><! --/row -->
      </div> <!-- /container -->
  </div><! --/aboutwrap -->

  <section id="Venues"></section>
  <div class="container">
    <div class="row centered mt mb">
      <h1>Check Our Restaurants!</h1>
      <br>
      <br>
      <br>
      <form name="Item_1" action="restaurant_profile" method='Post'>
        <input type="image" src="static/img/portfolio/Sprout.png" alt="submit" name="restaurant" value="Sprout">
        <br>
        <br>
        <br>
        <br>
        <input type="image" src="static/img/portfolio/Skillet.png" alt="submit" name="restaurant" value="Skillet">
        <br>
        <br>
        <br>
        <br>
        <input type="image" src="static/img/portfolio/JBs Roast and Chops.png" alt="submit" name="restaurant" value="JBs Roast and Chops">
        <br>
        <br>
        <br>
        <br>
        <input type="image" src="static/img/portfolio/Ginger and Soy.png" alt="submit" name="restaurant" value="Ginger and Soy">
        <br>
        <br>
        <br>
        <br>
        <input type="image" src="static/img/portfolio/McDonalds.png" alt="submit" name="restaurant" value="McDonalds">
        <br>
        <br>
        <br>
        <br>
        <input type="image" src="static/img/portfolio/Il Forno.png" alt="submit" name="restaurant" value="Il Forno">
        <br>
        <br>
        <br>
        <br>
        <input type="image" src="static/img/portfolio/Blue Express.png" alt="submit" name="restaurant" value="Blue Express">
        <br>
        <br>
        <br>
        <br>
        <input type="image" src="static/img/portfolio/Gyotaku.png" alt="submit" name="restaurant" value="Gyotaku">
        <br>
        <br>
        <br>
        <br>
        <input type="image" src="static/img/portfolio/Devils Krafthouse.png" alt="submit" name="restaurant" value="Devils Krafthouse">
        <br>
        <br>
        <br>
        <br>
        <input type="image" src="static/img/portfolio/Farmstead.png" alt="submit" name="restaurant" value="Farmstead">
        <br>
        <br>
        <br>
        <br>
        <input type="image" src="static/img/portfolio/Cafe West Union.png" alt="submit" name="restaurant" value="Cafe West Union">
        <br>
        <br>
        <br>
        <br>
        <input type="image" src="static/img/portfolio/Devils Bistro.png" alt="submit" name="restaurant" value="Devils Bistro">
        <br>
        <br>
        <br>
        <br>
        <input type="image" src="static/img/portfolio/Au Bon Pain.png" alt="submit" name="restaurant" value="Au Bon Pain">
        <br>
        <br>
        <br>
        <br>
        <input type="image" src="static/img/portfolio/Tandoor.png" alt="submit" name="restaurant" value="Tandoor">
        <br>
        <br>
        <br>
        <br>
        <input type="image" src="static/img/portfolio/Twinnies.png" alt="submit" name="restaurant" value="Twinnies">
        <br>
        <br>
        <br>
        <br>
        <input type="image" src="static/img/portfolio/Pitchforks.png" alt="submit" name="restaurant" value="Pitchforks">
        <br>
        <br>
        <br>
        <br>
        <input type="image" src="static/img/portfolio/Panda Express.png" alt="submit" name="restaurant" value="Panda Express">
        <br>
        <br>
        <br>
        <br>
        <input type="image" src="static/img/portfolio/Chefs Kitchen.png" alt="submit" name="restaurant" value="Chefs Kitchen">

      <!-- <div class="col-lg-4 col-md-4 col-sm-4 gallery">
        <a href="display" type= "Submit"><img src="static/img/portfolio/sprout-logo.png" class="img-responsive"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 gallery">
        <a href="display"><img src="static/img/portfolio/the-commons-logo.png" class="img-responsive"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 gallery">
        <a href="display"><img src="static/img/portfolio/the-skillet-logo.png" class="img-responsive"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 gallery">
        <a href="display"><img src="static/img/portfolio/tandoor-logo.png" class="img-responsive"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 gallery">
        <a href="display"><img src="static/img/portfolio/jbs-roasts-chops-logo.png" class="img-responsive"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 gallery">
        <a href="display"><img src="static/img/portfolio/ginger-soy-logo.png" class="img-responsive"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 gallery">
        <a href="display"><img src="static/img/portfolio/gyotaku-logo.png" class="img-responsive"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 gallery">
        <a href="display"><img src="static/img/portfolio/au-bon-pain-logo.png" class="img-responsive"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 gallery">
        <a href="display"><img src="static/img/portfolio/devils-krafthouse-logo.png" class="img-responsive"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 gallery">
        <a href="display"><img src="static/img/portfolio/the-farmstead-logo.png" class="img-responsive"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 gallery">
        <a href="display"><img src="static/img/portfolio/il-forno-logo.png" class="img-responsive"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 gallery">
        <a href="display"><img src="static/img/portfolio/duke-cafe-logo.png" class="img-responsive"></a>
      </div> -->
    </form>
    </div><! --/row -->
  </div><! --/container -->

  <div id="footerwrap">
    <div class="container">
      <div class="row centered">
        <div class="col-lg-4">
          <p><b>CS 316</b></p>
        </div>

        <div class="col-lg-4">
        <p>Team:</p>
          <p>James Wu</p>
          <p>Daniel Chai</p>
          <p>Justin Wang</p>
          <p>Jun (Brian) Hur</p>
        </div>
        <div class="col-lg-4">
          <p>dukEATS@gmail.com</p>
        </div>
      </div>
    </div>
  </div><! --/footerwrap -->




    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
  </body>
</html>