<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="static/ico/favicon.ico">

    <title>DukEATS - Better Than DukeHub</title>

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename='css/bootstrap.css')}}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/font-awesome.min.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css">

  </head>

  <body>
    <!-- Static navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="signup">Signup</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

  <div id="searchwrap">
      <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
              <h1>Select!</h1>
        </div>
      </div><! --/row -->
      </div> <!-- /container -->
  </div><! --/workwrap -->

  <div class="container">
    <div class="row centered mt mb">
      <div class="col-lg-8 col-lg-offset-2">
        <form name="Item_1" action="display" method='Post'>
          <select name="cuisine" class="selectpicker" data-live-search="true" data-style="btn-info" data-width="150px">
            <option value="cuisine">Any Cuisine</option>
            <option value="'Asian'">Asian</option>
            <option value="'American'">American</option>
            <option value="'Italian'">Italian</option>
            <option value="'Indian'">Indian</option>
            <option value="'Grill'">Grill</option>
            <option value="'Sandwich'">Sandwich</option>
            <option value="'Breakfast'">Breakfast</option>
            <option value="'Dessert'">Dessert</option>
            <option value="'Salad'">Salad</option>
            <option value="'Mediterranean'">Mediterranean</option>
            <option value="'Speciality'">Speciality</option>
            <option value="'American'">American</option>
            <option value="'Mexican'">Mexican</option>
            <option value="'Drink'">Drink</option>
            <option value="'Soup'">Soup</option>
            <option value="'Other'">Other</option>
            <option value="'Spanish'">Spanish</option>
          </select>

          <select name="price" class="selectpicker" data-live-search="true" data-style="btn-info" data-width="180px">
            <option value="0-1000">Any Price Range</option>
            <option value="0-5"> - $5</option>
            <option value="5-10">$5 - $10</option>
            <option value="10-15">$10 - $15</option>
            <option value="15-1000">$15 - </option>
          </select>

          <select name="rating" class="selectpicker" data-live-search="true" data-style="btn-info" data-width="150px">
            <option value="1">Any Rating</option>
            <option value="2">2 or better</option>
            <option value="3">3 or better</option>
            <option value="4">4 or better</option>
          </select>

          <select name="location" class="selectpicker" data-live-search="true" data-style="btn-info" data-width="200px">
            <option value="location">Any Location</option>
            <option value="'Bryan Center'">Bryan Center</option>
            <option value="'West Union'">West Union</option>
            <option value="'LSRC'">LSRC</option>
            <option value="'McClendon'">McClendon</option>
            <option value="'CIEMAS'">CIEMAS</option>
            <option value="'Central Campus'">Central Campus</option>
          </select>
          <br>
          <br>
          <br>
          <button class="btn btn-primary btn-lg" type="submit">Search!</button>

        </form>
      </div>
    </div><! --/row -->
  </div><! --/container -->

	<div id="footerwrap">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-4">
					<p><b>CS 316</b></p>
				</div>

				<div class="col-lg-4">
					<p>Team:</p>
          <p>James Wu</p>
          <p>Daniel Chai</p>
          <p>Justin Wang</p>
          <p>Jun (Brian) Hur</p>
				</div>
				<div class="col-lg-4">
					<p>dukEATS@gmail.com</p>
				</div>

			</div>

		</div>
	</div><! --/footerwrap -->



    <!-- Bootstrap core JavaScript
    ================================================== -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
  </body>
</html>